.movie-boxes{

    min-width: 1000px;
    display: grid;
    gap:1.5em;
    grid-template-columns: repeat(3, minmax(300px,400px));

}

.scrollable{
    margin-top:3em;
    padding: 3em 1em 2em 1em;
    background-color:#F9F4F2 ;


}

.item{
    background-color: #f0d7ce;
    height: 400px;
}