.movie-boxes{

    max-width: 90em;
    display: grid;
    grid-gap:1.5em;
    grid-template-columns: repeat(auto-fill, minmax(17em,20em));
    justify-content: center;
}

.scrollable{
    padding: 3em 1em 2em 1em;
    background-color:#F9F4F2 ;
    max-width: 95%;

}

.item{
    background-color: #f0d7ce;
    height: 20em;
    border-radius: 2em;
    padding:3em;
}


@media screen and (min-width: 600px){

    .scrollable{
        margin-top: 0em;
    }

}