<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/styles/generic-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Piazzolla:wght@700&display=swap" rel="stylesheet">
    <link rel="icon" href=".\resources\images\movie-icon.png">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>First Sight</title>
    {% block heads %}{% endblock %}

</head>
<body>
    <header>
        <a link="{{url_for('get_suggested_lists',buttonclicked='Trending')}}">Suggested movies</a>
    </header>
    <div class="scrollable"> 
{% block content %}{% endblock %}
        


    </div>
</body>
</html>
