{% extends 'base.j2' %}

{% block heads %}
<link rel="stylesheet" href="../static/styles/search-page-style.css">
{% endblock %}
    

{% block content %}
        <article class="content">
            <h1>First sight</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vulputate imperdiet magna, ac tempor mi finibus eget. Duis vitae nunc ac est efficitur egestas quis ac orci. Aliquam erat volutpat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam ex nunc, luctus quis ornare et, vestibulum viverra nisl. Aenean ac tellus elit. Praesent nibh arcu, tincidunt in interdum id, suscipit at nisi. Proin lectus ex, mollis ullamcorper ligula vel, pulvinar pellentesque tellus. Maecenas vitae molestie ligula. Morbi in urna laoreet, vehicula neque id, ullamcorper nunc. Pellentesque nisl dolor, commodo hendrerit lacinia ut, pulvinar eget quam. In vestibulum felis a ipsum euismod, id aliquet nunc iaculis. Vivamus eu nulla nec justo finibus sodales. Duis convallis, lorem eu scelerisque egestas, libero turpis vehicula quam, interdum blandit orci magna eget justo. Donec eleifend quam eu dui mollis ultricies.

                Etiam finibus, nisl sed lacinia ultrices, lectus lacus congue eros, sed rutrum sapien magna in dolor. Duis rutrum iaculis nunc sed commodo. Donec vel volutpat nibh, a lobortis mi. Maecenas pulvinar, nisl non faucibus imperdiet, enim eros dignissim orci, sed ornare libero ligula sit amet lacus. Maecenas accumsan leo justo, vel iaculis massa accumsan nec. Donec quis consectetur magna, tristique posuere quam. Phasellus viverra, nunc at aliquet suscipit, turpis ex elementum lectus, et volutpat ante leo ac erat. Suspendisse bibendum diam massa, sit amet condimentum dui ornare et.
            </p>
            <h3>Explore by category.</h3>

                <div class="suggestion-bar">
                    <input class= "suggested-movie-list" type="button" onclick="window.location.href='{{url_for('get_suggested_lists',buttonclicked='Trending')}}'" value="Trending" >
                    <input class= "suggested-movie-list" type="button" onclick="window.location.href='{{url_for('get_suggested_lists',buttonclicked='Latest')}}'" value="Latest drop" >
                    <input class= "suggested-movie-list" type="button" onclick="window.location.href='{{url_for('get_suggested_lists',buttonclicked='Upcoming')}}'" value="Upcoming movies" >

                </div>
    
        </article>

        <article class="sidebar">
            <h3>Search your next favorite movie!</h3>
            <form action="{{url_for('category_search')}}" method="POST">
                <div class="property" style="display: flex;">
                    <label>genre:</label>
                    <select name="genres" multiple>
                        {% for item in genres %}
                        <option value="{{item['id']}}">{{item['name']}}</option>
    
                        {% endfor %}
                          </select>
                </div>
    
                <div class="property"> 
                    <label>time limit</label>
                    <input type="number" min="0" name="length"> <br>
                </div>
    
                <div class="property" style="display:block; text-align:center;">
                    <input type="checkbox" name="agelimit"> 
                    <label>18+?</label> <br>
                </div>
    
                <input type="submit" id="submitbutton"  value="Search Movies" >

            </form>
        

            <h3>You can also search by name.</h3>
            <form action="{{url_for('movie_search')}}" method="POST">
                <div class="property">
                    <label>Movie name:</label>
                    <input type="text" name="searchtext">
                </div>

                <input class="property" type="submit"  id="submitbutton" value="submit!">
            </form>

        </article>


{% endblock %}