{% extends 'base.j2' %}

{% block heads %}
<link rel="stylesheet" href="../static/styles/search-page-style.css">
{% endblock %}
    

{% block content %}
        <article class="content">
            <a href="{{url_for('homepage')}}"><img id="main-logo" src="https://i.ibb.co/FsgKdpF/website-logo.png" alt="website-logo" border="0" /></a>
            <p>
            Welcome to first sight- <br>a place where finding nice movies to watch doesn't have to be that hard. <br>You can search your new favorite films just by choosing their categories- so relax, make some popcorn with that wonderful salted butter, and prepare yourself to fall in love.    
            <br><br>this website was made using TMDB's database of movies. it uses a simple interface that makes finding your new binge a child's play.
        
        </p>
            <h3>Explore by category.</h3>

                <div class="suggestion-bar">
                    <input class= "suggested-movie-list" type="button" onclick="window.location.href='{{url_for('get_suggested_lists',buttonclicked='Trending')}}'" value="Trending" >
                    <input class= "suggested-movie-list" type="button" onclick="window.location.href='{{url_for('get_suggested_lists',buttonclicked='Latest')}}'" value="Latest drop" >
                    <input class= "suggested-movie-list" type="button" onclick="window.location.href='{{url_for('get_suggested_lists',buttonclicked='Upcoming')}}'" value="Upcoming movies" >

                </div>
    
        </article>

        <article class="sidebar">
            <h3>Search your next favorite movie!</h3>
            <form action="{{url_for('category_search')}}" method="POST">
                <div class="property" style="display: flex;">
                    <label>genre:</label>
                    <select name="genres" multiple>
                        {% for item in genres %}
                        <option value="{{item['id']}}">{{item['name']}}</option>
    
                        {% endfor %}
                          </select>
                </div>
    
                <div class="property"> 
                    <label style="margin-right: 1em;">time limit</label>
                    <input type="number" min="0" name="length"> <br>
                </div>
    
                <div class="property" style="display:block; text-align:center;">
                    <input type="checkbox" name="agelimit"> 
                    <label>18+?</label> <br>
                </div>
    
                <input type="submit" id="submitbutton"  value="Search Movies" >

            </form>
        

            <h3>You can also search by name.</h3>
            <form action="{{url_for('movie_search')}}" method="POST">
                <div class="property">
                    <label>Movie name:</label>
                    <input type="text" name="searchtext">
                </div>

                <input class="property" type="submit"  id="submitbutton" value="submit!">
            </form>

        </article>


{% endblock %}