{% extends "base.j2" %}


{%block heads%}
    <link rel="stylesheet" href="../static/styles/specific-display.css">
{%endblock%}



{% block content %}
<h1 class="movie-title"> {{mv['title']}}</h1>
<div class="all-movie-details">
   

    <img class="poster-img" src= "{{mv['poster']}}" alt="poster title">
    <div class= "overview">
        <p >  {{mv['overview']}}</p>
    </div>
</div>

{% endblock %}