{% extends 'base.j2'%}


{% block heads %}

        <link rel="stylesheet" href="..\static\styles\movies-library.css">
        <link rel='stylesheet' href="../static/styles/hover.css">

{% endblock %}


{% block content %}


        <div><h1 style="text-align: center;">Your new favorite movies.</h1></div>
        <article class="movie-boxes">
                {% for item in mvlist %}
                
                <figure class="hover-img">

                    <a class="movie-link" href="{{url_for('get_by_id', movie_id= item['id'])}}">                      
                        <img id="movie-poster" src="{{item['poster']}}" alt="{{item['title']}}">
                    </a>

                    <figcaption> <p> {{item['title']}} </p></figcaption>


                    </figure>
                
                {%endfor%}
            
        </article>


{% endblock %}