<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="..\static\styles\movies-library.css">
        <link href="https://fonts.googleapis.com/css2?family=Piazzolla:wght@700&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="../static/styles/generic-style.css">
        <link rel="icon" href="../resources/images/movie-icon.png">
        <link rel='stylesheet' href="../static/styles/hover.css">
        <title>First Sight- Your library</title>

    </head>



    <body>
        <header class="header">
            <a link="">Contact us</a>
            <a link="">About</a>
        </header>
    <article class="scrollable">
        <div><h1 style="text-align: center;">Your new favorite movies.</h1></div>
            <article class="movie-boxes">
                {% for item in mvlist %}
                
                    <figure class="hover-img">
                    <img id="movie-poster" src="{{item['poster']}}" alt="{{item['title']}}">
                    <figcaption> <p> {{item['title']}} </p></figcaption>
                    </figure>
                
                {%endfor%}
            
        </article>
        </article>
    </body>
</html>