header{
    display:flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    background-color: #ECB7B7;
    position: fixed;
    top:0px; left:0px; right: 0px;
    padding: 0.75em 0px 0.75em 0px;
    z-index: 3;

}

header a{
    margin: 3px 20px 3px 20px
}

a:hover{
    color: #CD6060;
}


body{
    display: block;
    box-sizing: border-box;
    font-family: 'Piazzolla', serif;
    justify-content: center;
}

h1{
    font-size: 2em;
    color: #A92929;
    
}

.scrollable{
    background-color: #fff3ee;
}

@media screen and (min-width: 600px){
    body{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-top:3em;
    }

    html,body{
        height: 100%;
    }
    
    .header{
        display:flex;
        align-items: flex-end;
        flex-direction: row-reverse;
        background-color: #ECB7B7;
        position: fixed;
        top:0px; left:0px; right: 0px;
        padding: 10px 0px 10px 0px;
        margin-bottom: 100px;
        z-index: 3;
    
    }

    h1{
        font-size: 4em;
        margin-bottom: 0em;
    }

    .scrollable{
        max-width: 80%;
        min-width: 50%;
    }

}