.movie-boxes{

    max-width: 90em;
    display: grid;
    grid-gap:1.5em;
    grid-template-columns: repeat(auto-fill, minmax(17em,20em));
    justify-content: center;
}

#movie-poster{
    display: block;
    margin: auto;
    max-height: 100%;
    max-width: 100%
}


.item{
    background-color: #f0d7ce;
    max-width: inherit;
    max-height: inherit;
    border-radius: 2em;
    padding:0em;
}



.scrollable{
    padding: 3em 1em 2em 1em;
    background-color:#F9F4F2 ;
    max-width: 95%;

}



@media screen and (min-width: 600px){

    .scrollable{
        margin-top: 0em;
    }

}