
body{
    display: block;
    box-sizing: border-box;
    justify-content: center;
}



.content{
    background-color: #fff3ee;
    padding: 2em 50px 3em 40px;
}

.sidebar{
    padding:50px;
    background-color: #f3dede;
    display: block;
    flex-flow:column wrap;
}


.scrollable{
    display: block;


}

form{
    display: block;
}

.property{
    margin: 20px;
    display: flex;
    justify-content: center;
}

input[type="text"], input[type="number"]{
    border-radius: 10px;
    border-width: 0px;
    font-family: 'Piazzolla', serif;

}
  
h3{
    color:#E95656;
    font-size: 2em;
    text-align: center;

}

#submitbutton{
    border-radius: 10px;
    min-width:7em;
    padding:0px 30px 0px 30px;
    min-height:2em;
    border-width: 0px;
    background-color: #f3546e;
    color: #fffdf9;
    font-weight: bold;
    padding:10px;
    align-self: flex-end;
    font-family: 'Piazzolla', serif;
    font-size: 1.5em;
    display: block;
    margin:auto;
    

}

#submitbutton:hover{
    background-color:#A92929 ;
}

select[name="genres"]{
    background-color: #FFF2F2;
    border-radius: 10px;
    border-width: 0px;
    margin-left:1em;
    font-family: 'Piazzolla', serif;


}


.suggestion-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


.suggested-movie-list{
    background-color: #c8d0e6;
    border-radius: 0.2em;
    border-width: 0px;
    margin: 0.4em ;
    padding:0.4em;
    font-size: 1em;
    font-family:'Piazzolla', serif;
}

.suggested-movie-list:hover{
    background-color: #95a9e5;
    transition: all 0.45s ease;

}


form *{
    align-self: center;
    margin: 1em auto 1em auto;
}


@media screen and (min-width: 600px){
    body{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin:0px;
    }

    html,body{
        height: 100%;
    }
    
    .header{
        display:flex;
        align-items: flex-end;
        flex-direction: row-reverse;
        background-color: #ECB7B7;
        position: fixed;
        top:0px; left:0px; right: 0px;
        padding: 10px 0px 10px 0px;
        margin-bottom: 100px;
    
    }

    input[type="text"]{
        margin-left:1em;
    
    }
    


    .content{
        flex:4 400px;

        max-width: 40em;
        padding: 0px 50px 5em 40px;

    }

    
    .sidebar{
        padding:50px;
        flex: 3 300px;
        max-width:400px;
        display: flex;
        flex-flow:column wrap;
        align-items: center;

    }

    

    
    .scrollable{
        display: flex;
        justify-content: center;
        padding-top:0px;
    }

    #submitbutton:hover{
        transition: all 0.45s ease;
    }

    


    
}