

.all-movie-details{
    display: block;
}

.poster-img{
    width: 80%;
    margin:auto;
}

.scrollable{
    width:90%
}

@media screen and (min-width: 600px){

    .all-movie-details{
        display: flex;
    }

    .movie-title{
        padding-left: 1em;
    }

    .poster-img{
        max-width: 20em;
        float: left;
        margin-right: 1em;
        margin-bottom: 1em;
    }

    .scrollable{
        padding: 1em;
        max-width: 70%;
    }


    .scrollable *{
        padding:20px;
    }

    
    .overview{
        max-width: 30em;
        padding-right: 3em;
    }


}

