

.all-movie-details{
    display: block;
}

.poster-img{
    width: 95%;
    margin:auto;
    display: block;
}

.scrollable{
    width:100%;
    min-height:100%;
    padding: 3em 1em 3em 1em;
}

.overview{
    text-align: center;
}

@media screen and (min-width: 600px){

    .all-movie-details{
        display: flex;
        margin-top:2em;
    }



    .poster-img{
        max-width: 25em;
        float: left;

        margin: 0em 1em 2em 0em;
        
    }

    .scrollable{
        padding: 1em;
        max-width: 60%;
    }


    .overview{
        padding-right: 3em;
        min-width: 10em;
        margin-top: 0px;
        text-align: left;
    }




}

